* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

/* common class start  */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.oflex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.content-center {
  display: flex;
  justify-content: center;
}

.items-center {
  display: flex;
  align-items: center;
}
/* common class end  */

/* css start  */
body {
  padding: 4rem;
  background-color: #e5e5e5;
  min-height: 100vh;
}
#container {
  width: 100%;
  max-width: 1000px;
  background-color: white;
}

/* left-div start  */
#container #left-div {
  width: 50%;
  background-image: url(../img/login-bg-left.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem 5rem;
}

#container #left-div img:first-child {
  height: 3rem;
}

#container #left-div img:nth-child(2) {
  height: 18rem;
  margin: 2rem 0;
}

#container #left-div h4 {
  font-size: 1.6rem;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

#container #left-div p {
  color: #ffffff99;
  text-align: center;
  font-size: 0.9rem;
}
/* left-div end  */
/* right-div start  */
#right-div {
  width: 50%;
  padding: 4rem 5rem;
  text-align: center;
}

#right-div h4 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

#right-div .button-sec {
  gap: 1rem;
  margin-top: 1.5rem;
}

#right-div .button-sec button {
  outline: none;
  border: none;
  padding: 0.6rem 1rem;
  font-size: 0.8rem;
  border-radius: 1.2rem;
  cursor: pointer;
  background-color: #fafafa;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

#right-div .button-sec i {
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

#right-div form {
  text-align: left;
  width: 100%;
  margin-top: 2rem;
  font-size: 0.8rem;
  color: #aeaaaa;
  font-weight: 450;
  padding: 0 1rem;
}

#right-div form input {
  margin: 0.2rem 0 1rem 0;
  outline: none;
  border: none;
  border-bottom: #aeaaaa solid 1px;
  width: 100%;
  padding: 0.3rem 0;
}

#right-div form input::placeholder {
  color: #7b7979;
  font-weight: 450;
  font-size: 1.01rem;
}

#right-div form input[type="checkbox"] {
  margin: 0 0.5rem 0 0;
  width: 18px;
  height: 18px;
  accent-color: #7b76f1;
}

label {
  display: block;
}

#checkbox-row {
  margin-top: 2rem;
}

#checkbox-row #login-btn {
  outline: none;
  border: none;
  background-color: #7b76f1;
  color: white;
  padding: 0.6rem 2rem;
  border-radius: 1.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
}

#signup-txt {
  margin-top: 2rem;
  font-size: 0.8rem;
  color: #7e7d7d;
  font-weight: 450;
  padding: 0 1rem;
}

#signup-txt a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.5rem;
  position: relative;
}

#signup-txt a::after {
  content: "";
  width: 2.5rem;
  height: 1px;
  position: absolute;
  top: 1.1rem;
  left: 0;
  background-color: #7e7d7d;
}
/* right-div end  */
@media only screen and (max-width: 1103px) {
  #container #left-div,
  #right-div {
    padding: 4rem 3rem;
  }

  @media only screen and (max-width: 975px) {
    #container #left-div,
    #right-div {
      padding: 2rem;
    }
  }
  @media only screen and (max-width: 911px) {
    #container #left-div {
      display: none;
    }
    #container #right-div {
      width: 100%;
      padding: 4rem 3rem;
    }
  }
  @media only screen and (max-width: 552px) {
    #container #right-div {
      padding: 2rem;
    }
    #checkbox-row {
      flex-direction: column;
      margin-top: 0.5rem;
      gap: 0.5rem;
    }

    #checkbox-row button {
      width: 100%;
    }
  }
  @media only screen and (max-width: 520px) {
    #container #right-div #google-github-btn {
      flex-direction: column;
    }
    #container #right-div h4 {
      font-size: 1.4rem;
    }
    #right-div #google-github-btn button {
      padding: 0.25rem 0.8rem;
      font-size: 0.8rem;
    }
    #right-div .button-sec i {
      font-size: 0.7rem;
    }
    #right-div form input::placeholder {
      font-weight: 400;
      font-size: 0.9rem;
    }
  }
}
/* responsive end  */
/* css end  */
